{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">


<table class="table">
  <thead>
    <tr class=" table-dark">
      <th scope="col">#</th>
      <th scope="col">Ticket numero</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>


    <tr>
      <th scope="row"> {{ticket.id}}</th>
      <td> {{ticket.label}}</td>
      <td>
        <a class="btn "><i class="bi bi-trash3-fill text-danger"></i></a>
        <a class="btn"><i class="bi bi-pencil-fill text-danger"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-danger">Retour</a>

{% endblock %}